@using WebApplication2.Service
@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Config.ConnectionString</h1>
    <p>Hello. Welcome to the myProject. This is Home Page. Soon this Page are set content</p>
</div>
